# arquivos de build do .NET
[Bb]in/
[Oo]bj/
*.log
*.pdb
*.suo
*.user
*.userprefs
*.vs/
*.*proj.user
*.*.cache
*.*.log
*.*.open

# arquivos específicos do visual studio (VS) e .NET
*.csproj.user
*.sln.docstates
.vs/ # pasta oculta do VS

# arquivos de cache de pacotes
**/node_modules/
**/*.dll
**/*.exe

# cache e configs pessoais do NuGet
.nuget/packages/

# configurações do VS Code
.vscode/

# .vscode/settings.json 

# configurações do sistema operacional (Mac)
.DS_Store
Thumbs.db

# arquivos de desenvolvimento local
appsettings.Development.json
Properties/launchSettings.json

# arquivos do live server/servidores locais
**/*.bak
**/*.tmp
